.footer {
  background-color: var(--bebras-dark);
  color: white;
  text-align: center;
  padding: 3rem 0;
  margin-top: 4rem;
  border-top: 5px solid var(--bebras-yellow);
}

.footer p {
  margin: 0.5rem 0;
  font-weight: 500;
  font-size: 0.95rem;
  color: var(--bebras-yellow);
}
